.scanYourCode{
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr 1fr;
    background:linear-gradient(175deg, #FFD659 14%, #ffff 100%);
    justify-content: space-between;
    padding: auto;
}